<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			Our first Ruby page is online!
		</a>
		<a class="panel-block">
			Try it!
		</a>
		<a class="panel-block">
			It's like Tweeter 
		</a>
		<a class="panel-block">
			Create an account!
		</a>
		<a class="panel-block">
			UG is great :)
		</a>
		<a class="panel-block">
			Best page in Internet
		</a>
	</nav>
</div>