<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQgSfDjZJG8fMhheK9OEg2JBD465R8eZwEUj5sJDnWK0iK9UJN">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Mateusz Znamiec</strong>
						<small>@mateuszznamiec</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="http://icons.iconarchive.com/icons/google/noto-emoji-people-profession/64/10243-woman-judge-icon.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Zachariasz Kołodziejski</strong>
						<small>@zachariaszkolodziejski</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6KKQmn39I88jdp8Ik1LxlS8qZG-QV1Ay-AoHdJSYhYtOp8UQMHQ">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Agata Ziółkowska</strong>
						<small>@agataziolkowska</small>
					</p>
				</div>
			</div>
		</article>
		
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="http://aux.iconspalace.com/uploads/antispam-icon-64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Jacek Dresler</strong>
						<small>@jacekdresler</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>